<div class="row home-page-row aggregator-two">
  <div class="col-sm-12">
    <app-card [title]="" [noActions]="true" class="table-card">
      <div class="row p-b-20">
        <div class="col-sm-12 expand-col">
          <button class="btn btn-sm m-r-10">
            Audit
          </button>
          <button class="btn btn-sm m-r-10">
            Undo
          </button>
          <button class="btn btn-sm expand" (click)="openMyModal($event)">
            <i class="icofont icofont-expand"></i>
            Expand
          </button>
        </div>
      </div>
      <div class="row table-row">
        <div class="col-md-12 col-sm-12 col-lg-12">
          <ag-grid-angular
            class="{{appliedThemeClassOnTable}}"
            [rowData]="rowData"
            [columnDefs]="columnDefs"
            [defaultColDef]="defaultColDef"
            [floatingFilter]="true"
            [animateRows]="true"
            [pagination]="true"
            [paginationPageSize]="selectedRowsPerPage"
            rowSelection='multiple'
            rowMultiSelectWithClick="true"
            (gridReady)="onGridReady($event)"
            (firstDataRendered)="onFirstDataRendered($event)"
          >
          </ag-grid-angular>
        </div>
      </div>

      <div class="row page-change-row">
        <div class="col-12 col-sm-6">
          <label class="p-r-20 filter-on-mob p-t-5 p-l-10 text-interaction"><b>Click Interaction row to see additional
            details</b> </label>
          <label class="p-r-10 filter-on-mob p-t-5">Show </label>
          <select name="select"
                  (change)="onPageSizeChanged()" id="page-size"
                  class="rows-per-page"
                  [(ngModel)]="selectedRowsPerPage">
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20" selected>20</option>
            <option value="25">25</option>
            <option value="30">30</option>
            <option value="35">35</option>
            <option value="40">40</option>
          </select>
          <label class="p-l-10">entries</label>
        </div>
      </div>
    </app-card>
  </div>
</div>
<!--start of modals-->
<div class="modal fade agr-two-modal" bsModal #modal="bs-modal"
     tabindex="-1" role="dialog" aria-labelledby="dialog-events-name"
     (onShown)="handler()">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row heading-row">
          <h5 class="heading">
            Investor Details
          </h5>
        </div>
        <div class="row button-list-row">
          <div class="col-lg-12 ">
            <button class="btn btn-sm">
              Save
            </button>
            <button class="btn btn-sm" (click)="closeMyModal($event)">
              Cancel
            </button>
            <button class="btn btn-sm" (click)="onPreviousClick()" [disabled]="selectedInvestor.id === 1">
              <b><i class="icofont icofont-thin-left"></i></b>
              Previous
            </button>
            <button class="btn btn-sm" (click)="onNextClick()" [disabled]="selectedInvestor.id === rowData.length">
              Next
              <b><i class="icofont icofont-thin-right"></i></b>
            </button>
            <button class="btn btn-sm">
              Audit
            </button>
          </div>
        </div>
      </div>
      <div class="modal-body details-modal-content">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3">
            <form class="md-float-material form-material login-form" action="javascript:">
              <div class="form-group form-primary">
                <label class="column-heading">INTERACTION DETAIL</label>
              </div>
              <div class="form-group form-primary">
                <label class="float-label ">INTERACTION TYPE</label>
                <input type="text" name="interactionType" class="form-control" required=""
                       [(ngModel)]="selectedInvestor.interactionType">
                <span class="form-bar"></span>
              </div>
              <div class="form-group form-primary">
                <label class="float-label ">MEETIMG TYPE</label>
                <input type="text" name="interactionTitle" class="form-control" required=""
                       [(ngModel)]="selectedInvestor.interactionTitle">
                <span class="form-bar"></span>
              </div>
              <div class="form-group form-primary">
                <label class="float-label ">INITIATED BY</label>
                <input type="text" name="investor" class="form-control" required="">
                <span class="form-bar"></span>
              </div>
              <div class="form-group form-primary">
                <label class="column-heading">DATE/TIME</label>
                <div class="row m-t-20">
                  <div class="col-lg-6 col-md-6 col-sm-6 ">
                    <div class="form-group form-primary date-pattern">
                      <label class="float-label from">From</label>
                      <input class="form-control"
                             placeholder="yyyy-mm-dd" name="dp"
                             ngbDatepicker #d="ngbDatepicker">
                      <div class="input-group-append p-l-0">
                        <span class="input-group-text" (click)="d.toggle()">
                          <i class="icofont icofont-ui-calendar"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="form-group form-primary">
                      <input type="text" name="investor" class="form-control" required="" value="12:10 am">
                      <span class="form-bar"></span>
                    </div>
                  </div>
                </div>
                <div class="row m-t-20">
                  <div class="col-lg-6 col-md-6 col-sm-6 ">
                    <div class="form-group form-primary date-pattern">
                      <label class="float-label from">To</label>
                      <input class="form-control"
                             placeholder="yyyy-mm-dd" name="dp"
                             ngbDatepicker #d="ngbDatepicker">
                      <div class="input-group-append p-l-0">
                        <span class="input-group-text" (click)="d.toggle()">
                          <i class="icofont icofont-ui-calendar"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="form-group form-primary">
                      <input type="text" name="investor" class="form-control" required="" value="9:30 am">
                      <span class="form-bar"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group form-primary">
                <label class="">TIMEZONE</label>
                <select name="published" class="form-control form-control-inverse">
                  <option value="Published">UTC</option>
                  <option value="Unpublished">GMT</option>
                </select>
              </div>
              <div class="form-group form-primary">
                <label class="float-label ">DURATION</label>
                <input type="text" name="investor" class="form-control" required="">
                <span class="form-bar"></span>
              </div>

            </form>
          </div>

          <div class="col-lg-3 col-md-3 col-sm-3">
            <form class="md-float-material form-material login-form" action="javascript:">
              <div class="form-group form-primary">
                <label class="column-heading">SECTORS/COMPANIES</label>
              </div>
              <div class="form-group form-primary">
                <label class="">SECTOR</label>
                <select name="published" class="form-control form-control-inverse">
                  <option value="Published">SECOTR 1</option>
                  <option value="Unpublished">SECOTR 2</option>
                </select>
              </div>
              <div class="form-group form-primary">
                <label class="">Sectors: Materials</label>
                <label class="">Sub-Industries: Diversified Metal & Minning</label>
                <label class="p-t-10">COMPANIES</label>
                <select name="published" class="form-control form-control-inverse">
                  <option value="Published">COMPANY 1</option>
                  <option value="Unpublished">COMPANY 2</option>
                </select>
              </div>
              <div class="form-group form-primary">
                <label class="column-heading">OTHER DETAILS</label>
              </div>
              <div class="form-group form-primary">
                <label class="float-label ">TAGS</label>
                <input type="text" name="investor" class="form-control" required="">
                <span class="form-bar"></span>
              </div>
              <div class="form-group form-primary">
                <label class="float-label ">GROUPS</label>
                <input type="text" name="investor" class="form-control" required="">
                <span class="form-bar"></span>
              </div>

              <div class="form-group form-primary">
                <label class="">ASSET CLASS</label>
                <select name="published" class="form-control form-control-inverse">
                  <option value="Published">ASSET CLASS 1</option>
                  <option value="Unpublished">ASSET CLASS 2</option>
                </select>
              </div>
              <div class="form-group form-primary">
                <label class="float-label ">COMMENTS</label>
                <input type="text" name="investor" class="form-control" required="">
                <span class="form-bar"></span>
              </div>
            </form>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6">
            <form class="md-float-material form-material login-form" action="javascript:">
              <div class="form-group form-primary">
                <label class="column-heading">COMPANY ATTENDIES</label>
              </div>
              <div class="form-group form-primary">
                <label class="">COMPANY ATTENDEE 1</label>
                <select name="published" class="form-control form-control-inverse">
                  <option value="Published">COMPANY/ORGANIZATION</option>
                </select>
              </div>

              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="form-group form-primary">
                    <label class="float-label ">First Name</label>
                    <input type="text" name="investor" class="form-control" required="">
                    <span class="form-bar"></span>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="form-group form-primary">
                    <label class="float-label ">Last name</label>
                    <input type="text" name="investor" class="form-control" required="">
                    <span class="form-bar"></span>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="form-group form-primary">
                    <label class="float-label ">Email</label>
                    <input type="text" name="investor" class="form-control" required="">
                    <span class="form-bar"></span>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="form-group form-primary">
                    <input type="text" name="investor" class="form-control" required="" placeholder="Title">
                    <span class="form-bar"></span>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="form-group form-primary">
                    <select name="published" class="form-control form-control-inverse">
                      <option value="Published">Role</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="form-group form-primary">
                    <select name="published" class="form-control form-control-inverse">
                      <option value="Published">Attended</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row button-list-row">
                <div class="col-lg-12 ">
                  <button class="btn btn-sm" (click)="onNextClick()"
                          [disabled]="selectedInvestor.id === rowData.length">
                    Clear
                  </button>
                  <button class="btn btn-sm">
                    Add Another Attendee
                  </button>
                </div>
              </div>

              <div class="form-group form-primary">
                <label class="column-heading">EXPERT ATTENDIES</label>
              </div>
              <div class="form-group form-primary">
                <label class="column-heading">EXPERT ATTENDEE 1</label>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="form-group form-primary">
                    <label class="float-label ">First Name</label>
                    <input type="text" name="investor" class="form-control" required="">
                    <span class="form-bar"></span>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="form-group form-primary">
                    <label class="float-label ">Last name</label>
                    <input type="text" name="investor" class="form-control" required="">
                    <span class="form-bar"></span>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="form-group form-primary">
                    <label class="float-label ">Email</label>
                    <input type="text" name="investor" class="form-control" required="">
                    <span class="form-bar"></span>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="form-group form-primary">
                    <input type="text" name="investor" class="form-control" required="" placeholder="Title">
                    <span class="form-bar"></span>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="form-group form-primary">
                    <select name="published" class="form-control form-control-inverse">
                      <option value="Published">Role</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="form-group form-primary">
                    <select name="published" class="form-control form-control-inverse">
                      <option value="Published">Attended</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row button-list-row">
                <div class="col-lg-12 ">
                  <button class="btn btn-sm" (click)="onNextClick()"
                          [disabled]="selectedInvestor.id === rowData.length">
                    Clear
                  </button>
                  <button class="btn btn-sm">
                    Add Another Attendee
                  </button>
                </div>
              </div>

              <div class="form-group form-primary">
                <label class="column-heading">BROKER ATTENDIES</label>
              </div>
              <div class="form-group form-primary">
                <label class="column-heading">BROKER ATTENDEE 1</label>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="form-group form-primary">
                    <label class="float-label ">First Name</label>
                    <input type="text" name="investor" class="form-control" required="">
                    <span class="form-bar"></span>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="form-group form-primary">
                    <label class="float-label ">Last name</label>
                    <input type="text" name="investor" class="form-control" required="">
                    <span class="form-bar"></span>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="form-group form-primary">
                    <label class="float-label ">Email</label>
                    <input type="text" name="investor" class="form-control" required="">
                    <span class="form-bar"></span>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="form-group form-primary">
                    <input type="text" name="investor" class="form-control" required="" placeholder="Title">
                    <span class="form-bar"></span>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="form-group form-primary">
                    <select name="published" class="form-control form-control-inverse">
                      <option value="Published">Role</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="form-group form-primary">
                    <select name="published" class="form-control form-control-inverse">
                      <option value="Published">Attended</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row button-list-row">
                <div class="col-lg-12 ">
                  <button class="btn btn-sm" (click)="onNextClick()"
                          [disabled]="selectedInvestor.id === rowData.length">
                    Clear
                  </button>
                  <button class="btn btn-sm">
                    Add Another Attendee
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


