<div class="row">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 heading-container">
    <h5 class="dashboard-heading">Dashboard Analytics</h5>
    <input type="text" matInput
           ngxDaterangepickerMd class="form-control date-range"
           [locale]="{format: 'MMMM DD, YYYY'}"
           [alwaysShowCalendars]="true"
           [showDropdowns]="true"
           [(ngModel)]="selected"
           [ranges]="ranges"/>
  </div>
</div>
<div class="row home-page-row">
  <div class="col-12 col-sm-12 col-md-5 col-lg-5">
    <app-shares-volume></app-shares-volume>
  </div>
  <div class="col-12 col-sm-12 col-md-5 col-lg-5">
    <app-activity-notional></app-activity-notional>
  </div>
  <div class="col-12 col-sm-12 col-md-2 col-lg-2">
    <app-shares-exchange title="Top 25 Shares Traded" ID1="chartdiv2" ID2="chartdiv3"
                         ID1Modal="chartdiv2Modal" ID2Modal="chartdiv3Modal"></app-shares-exchange>
  </div>
</div>
<div class="row home-page-row">
  <div class="col-12 col-sm-12 col-md-5 col-lg-5">
    <app-unique-clients></app-unique-clients>
  </div>
  <div class="col-12 col-sm-12 col-md-5 col-lg-5">
    <app-commisions></app-commisions>
  </div>
  <div class="col-12 col-sm-12 col-md-2 col-lg-2">
    <app-shares-exchange title="Top Clients By Date"
                         ID1="chartdiv5" ID2="chartdiv6" ID1Modal="chartdiv5Modal"
                         ID2Modal="chartdiv6Modal"></app-shares-exchange>
  </div>
</div>
<div class="row home-page-row">
  <div class="col-12 col-sm-12 col-md-5 col-lg-5">
    <app-activity-volume></app-activity-volume>
  </div>
  <div class="col-12 col-sm-12 col-md-5 col-lg-5">
    <app-client-performance></app-client-performance>
  </div>
  <div class="col-12 col-sm-12 col-md-2 col-lg-2">
    <app-shares-exchange title="Top Sector" ID1="chartdiv8" ID2="chartdiv9"
                         ID1Modal="chartdiv8Modal" ID2Modal="chartdiv9Modal">

    </app-shares-exchange>
  </div>
</div>
