<app-card [title]="title" class="shares-exchange" (onModalOpen)="openModal()">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
      <div class="shares-details">
        <h6></h6>
      </div>
      <div id={{ID1}} style="width: 100%; height: 15vh"></div>
    </div>
  </div>

  <div class="row for-modal">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
      <div class="shares-details"></div>
      <div id={{ID1Modal}} style="width: 100%; height: 40vh"></div>
    </div>
  </div>
</app-card>
