<div class="row">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 heading-container">
    <h5 class="dashboard-heading">Pyramid Demo</h5>
    <input type="text" matInput
           ngxDaterangepickerMd class="form-control date-range"
           [locale]="{format: 'MMMM DD, YYYY'}"
           [alwaysShowCalendars]="true"
           [showDropdowns]="true"
           [(ngModel)]="selected"
           [ranges]="ranges"/>
  </div>
</div>
<div class="row home-page-row">
  <div class="col-12 col-sm-12 col-md-6 col-lg-6">
    <app-Pyramid-component ID1="chartdivPyramid" [title]="'Trade Activity by Sector'"></app-Pyramid-component>
  </div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-6">
    <app-Pyramid-component ID1="chartdivPyramid2" [title]="'Trade Activity by Factor'"></app-Pyramid-component>
  </div>
</div>
