<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{title}}</mat-card-title>
    <div>{{headerContent}}</div>
    <div class="card-actions">
      <i class="feather icon-maximize full-screen" (click)="openModal(template)"></i>
    </div>
  </mat-card-header>
  <mat-card-content>
    <ng-content></ng-content>
  </mat-card-content>
</mat-card>

<!--<ng-template #template (onShown)="handler('onShown', $event)">
  <div class="modal-header">
    <h5 class="modal-title pull-left">{{title}}</h5>
    <input type="text" matInput
           ngxDaterangepickerMd class="form-control date-range"
           [locale]="{format: 'MMMM DD, YYYY'}"
           [alwaysShowCalendars]="true"
           [showDropdowns]="true"
           [(ngModel)]="selected"
           [ranges]="ranges"/>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ng-content select=".for-modal"></ng-content>
    <div class="row table-row">
      <div class="col-md-12 col-sm-12 col-lg-12">
        <ag-grid-angular
          class="{{appliedThemeClassOnTable}}"
          [rowData]="rowData"
          [columnDefs]="columnDefs"
          [defaultColDef]="defaultColDef"
          [floatingFilter]="true"
          [animateRows]="true"
          [pagination]="true"
          [paginationPageSize]="20"
          (gridReady)="onGridReady($event)"
          (firstDataRendered)="onFirstDataRendered($event)">
        </ag-grid-angular>
      </div>
    </div>
  </div>
</ng-template>-->
<div class="modal fade" bsModal #modal="bs-modal"
     tabindex="-1" role="dialog" aria-labelledby="dialog-events-name"
     (onShown)="handler()">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title pull-left">{{title}}</h5>
        <input type="text" matInput
               ngxDaterangepickerMd class="form-control date-range"
               [locale]="{format: 'MMMM DD, YYYY'}"
               [alwaysShowCalendars]="true"
               [showDropdowns]="true"
               [(ngModel)]="selected"
               [ranges]="ranges"/>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ng-content select=".for-modal"></ng-content>
        <div class="row table-row">
          <div class="col-md-12 col-sm-12 col-lg-12">
            <ag-grid-angular
              class="{{appliedThemeClassOnTable}}"
              [rowData]="rowData"
              [columnDefs]="columnDefs"
              [defaultColDef]="defaultColDef"
              [floatingFilter]="true"
              [animateRows]="true"
              [pagination]="true"
              [paginationPageSize]="10"
              (gridReady)="onGridReady($event)"
              (firstDataRendered)="onFirstDataRendered($event)">
            </ag-grid-angular>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

