.shares-details{
  i{
    padding-left: 10px;
  }
}
.anomally{
  color: #8a8a8a;
}

.anomally-details{
  padding-left: 10px;
  color: #5fec5f;
}
.shares-exchange{
  .mat-card-header-text{
    margin: 0;
  }
  .mat-card-title{
    margin-bottom: 4px;
  }
  .rotate{
    display: inline-block;
    transform: rotate(180deg);
    padding-right: 10px;
  }
}
.shares-details{
  h6{
    margin-bottom: 2px;
  }
}

