.home-page-row{
 padding: 10px 0;
}
.pma-btns{
  display: inline;
  margin: 0 20px;

  .btn-primary:not(:disabled):not(.disabled):active,
  .btn-primary:not(:disabled):not(.disabled).active,
  .show > .btn-primary.dropdown-toggle{
    background: #507e9f;
    border-color: #138f9f;
  }

  .btn{
    background: #67b7dc;
    border-color: #00e0f5;
    border-radius: 0;
  }
}

.action-btns{
  margin-left: 10px;
  display: inline;

  .btn{
    margin: 0 10px;
    border-radius: 0;
  }
}

.pma-infos{
  margin: 30px -10px 20px -10px;

  .info{
    text-align: right;
    background: #4f4f4f;
    padding: 10px;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 0;
    font-size: 20px;
    line-height: 2.5rem;
    font-weight: 450;
  }
}
