/* You can add global styles to this file, and also import other style files */
html, body{
  height: 100%;
  margin: 0;
}

.sidenav-container{
  height: 100%;
}

@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import "~ag-grid-community/dist/styles/ag-theme-dark.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham-dark.css";
@import "~ag-grid-community/dist/styles/ag-theme-fresh.css";

@import '~bootstrap/scss/bootstrap';

@import "styles/themes";
@import "styles/generic";
@import "styles/print";
